Code Warm-up: 

Take the following 2 lists and write a program that returns a list that contains only the elements that are common between the 2 lists (without duplicates).

thor_2_cast = ['Chris Hemsworth', 'Natalie Portman', 'Tom Hiddleston', 'Kat Dennings', 'Anthony Hopkins',
               'Jaimie Alexander', 'Idris Elba']
ragnarok_cast = ['Chris Hemsworth', 'Tessa Thompson', 'Cate Blanchett', 'Tom Hiddleston', 'Mark Ruffalo', 
                 'Jeff Goldblum', 'Karl Urban', 'Idris Elba', 'Anthony Hopkins']

In [1]:
lis = [2, 3, 2, 5, 3, 7, 2]

In [2]:
set(lis)

{2, 3, 5, 7}

In [11]:
def find_common(lis1, lis2):
    return list(set(lis1).intersection(set(lis2)))

In [12]:
thor_2_cast = ['Chris Hemsworth', 'Natalie Portman', 'Tom Hiddleston', 'Kat Dennings', 'Anthony Hopkins', 'Jaimie Alexander', 'Idris Elba'] 
ragnarok_cast = ['Chris Hemsworth', 'Tessa Thompson', 'Cate Blanchett', 'Tom Hiddleston', 'Mark Ruffalo', 'Jeff Goldblum', 'Karl Urban', 'Idris Elba', 'Anthony Hopkins']

In [13]:
find_common(thor_2_cast, ragnarok_cast)

['Anthony Hopkins', 'Chris Hemsworth', 'Idris Elba', 'Tom Hiddleston']

In [5]:
set(thor_2_cast)

{'Anthony Hopkins',
 'Chris Hemsworth',
 'Idris Elba',
 'Jaimie Alexander',
 'Kat Dennings',
 'Natalie Portman',
 'Tom Hiddleston'}

In [6]:
set(ragnarok_cast)

{'Anthony Hopkins',
 'Cate Blanchett',
 'Chris Hemsworth',
 'Idris Elba',
 'Jeff Goldblum',
 'Karl Urban',
 'Mark Ruffalo',
 'Tessa Thompson',
 'Tom Hiddleston'}

In [7]:
set(thor_2_cast).intersection(set(ragnarok_cast))

{'Anthony Hopkins', 'Chris Hemsworth', 'Idris Elba', 'Tom Hiddleston'}

In [ ]:
# recursive function
# handle any number of parameters

In [16]:
def max_of_two(x, y):
    if x > y:
        print(x)
        return x
        
    return y


def max_of_three(x, y, z):
    return max_of_two(x, max_of_two(y, z))


print(max_of_three(10, 5, 9))

10
10

In [ ]:
def max_of_two(x, y):
    if x > y:
        return x
        print(x)
    else:
        return y

In [15]:
max_of_two(6, -5)

6

In [18]:
max(10, 5, 9, 12, 32)

32

In [19]:
class car:
    pass

In [21]:
toyota = car()
benz = car()
ford = car()

In [22]:
class car:
    mileage = 100
    wheel_size = 21

In [23]:
toyota = car()
benz = car()
ford = car()

In [24]:
name = 'Omolewa'

In [ ]:
name.

In [28]:
toyota.mileage

100

In [29]:
benz.mileage

100

In [30]:
ford.mileage

100

In [31]:
toyota.mileage = 20000

In [32]:
benz.mileage

100

In [33]:
ford.mileage

100

In [34]:
toyota.mileage

20000

In [35]:
class car:
    mileage = 100
    wheel_size = 21
    
    def multiply_mileage(self, mileage):
        return mileage * 50

In [36]:
toyota = car()
benz = car()
ford = car()

In [37]:
toyota.multiply_mileage(1000)

50000

In [42]:
class Mathematics:
    # constructor (init method)
    def __init__(self, x, y):
        print(f'You passed in {x} and {y}')

In [44]:
Mathematics(10, 30)

You passed in 10 and 30

In [50]:
class Mathematics:
    # constructor
    def __init__(self, x, y):
        print(f'You passed in {x} and {y}')
        self.fname = 'Omolewa'
        self.lname = 'Adaramola'
        print(self.fname, self.lname)

In [51]:
mth = Mathematics(10, 30)

You passed in 10 and 30
Omolewa Adaramola

In [47]:
mth.fname

'Omolewa'

In [60]:
class Mathematics:
    # constructor
    def __init__(self, x, y):
        print(f'You passed in {x} and {y}')
        self.fname = 'Omolewa'
        self.lname = 'Adaramola'
        self.mname = 'Bukola'
        
    def multiply(self):
        print(self.fname)

In [61]:
mth = Mathematics(10, 30)

You passed in 10 and 30

In [59]:
mth.

Omolewa

In [64]:
class Mathematics:
    # constructor
    def __init__(self, a, b):
        print(f'You passed in {a} and {b}')
        self.x = a
        self.y = b
        
    def multiply(self):
        return self.x * self.y

In [65]:
mth = Mathematics(10, 30)

You passed in 10 and 30

In [66]:
mth.multiply()

300

In [67]:
class Mathematics:
    # constructor
    def __init__(self, a, b):
        print(f'You passed in {a} and {b}')
        self.x = a
        self.y = b
        
    def multiply(self):
        return self.x * self.y
    
    def add(self):
        return self.x + self.y
    
    def multiply_add(self):
        return self.multiply() / self.add()

In [68]:
mth = Mathematics(10, 30)

You passed in 10 and 30

In [69]:
mth.multiply_add()

7.5

In [71]:
class Mathematics:
        
    def multiply(self, x, y):
        return x * y
    
    def add(self, x, y):
        return x + y
    
    def division(self, x, y):
        return x / y
    
    def modulo(self, x, y):
        return x % y

In [72]:
mth = Mathematics()

In [73]:
mth.add(4, 5)

9

In [74]:
mth.modulo(19, 8)

3